@page "/ManageChildren"

<h1>Manage Children</h1>

<div>
  <p>Table with all children</p>
  <p>column headers include
    <ul>
      <li>edit & delete buttons</li>
      <li>Name</li>
      <li>Age</li>
    </ul>
  </p>
  <p>Add button</p>
  <p>Edit, delete & add buttons should open up a modal</p>
</div>