@page "/ManageResponsibilities"

<h1>Manage Responsibilities</h1>

<div>
  <p>Table with all responsibilities</p>
  <p>column headers include
    <ul>
      <li>edit & delete buttons</li>
      <li>Name</li>
      <li>Active</li>
    </ul>
  </p>
  <p>Add button</p>
  <p>Edit, delete & add buttons should open up a modal</p>
</div>